.image-container{
    margin: 20px;
    border:  solid white;
    justify-self:center;
}

.poster {
        width: 150px;
        height: 100%;
        object-fit: cover;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    text-align: center;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity: 1;
}

.geenPoster {
    width: 150px;
    height: 100%;
    object-fit: cover;
}