.image-container{
    transition: transform 0.2s;
    margin: 20px;
    border:  solid white;
    justify-self:center;
    position: relative;
}

.poster {
width: 250px;
height: 330px;
object-fit: fill;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity: 1;
}

.geenPoster {
    width: 250px;
    max-height: 330px;
    object-fit: cover;
}
.hoverText{
    color: white;
    font-family:'Broadway', sans-serif ;
    text-align: center;
    font-size: 15px;
}
