body {
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./images/content-bg.png');
  background-size: cover;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.header-image {
  height: 157px;
  margin-bottom: 50px;
  background-image: url('./images/header-bg.png');
  background-size: cover;
}